.App {
  text-align: center;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: #6363c3;
  color: white;
  direction: rtl;
}
.day{
  background-color: #6363c3 !important;
}
.night{
  background-color: #000029 !important;
}
* {
  padding: 0;
  margin: 0;
}
.cloud {
  animation: float 3s ease-in-out infinite;
  position: relative !important;
  font-size: 140px !important;
  top: 7px !important;
  margin-bottom: 20px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
